.show_xs {
  display: none;
}
@media (min-width: 992px) {
  .white_bg .lang_block {
    border-right: 1px solid #f2f2f2;
  }
  header .lang_block {
    border-right: 1px solid rgba(255, 255, 255, 0.05);
  }
}
@media (max-width: 991px) {
  .auto_page_section .auto_page_description .page_description_info .more_btn {
    margin-right: 0;
    margin-left: 0;
    width: 100%;
  }
  .auto_page_section .auto_page_description {
    padding-left: 15px;
  }
  .auto_page_section .auto_page_description .page_description_info,
  .auto_page_section .auto_page_description .page_description_title,
  .auto_page_section .auto_page_description .page_description_price,
  .auto_page_section .auto_page_description .page_description_text {
    padding-right: 0;
    padding-left: 0;
  }
  .auto_page_section .auto_page_description {
    border-left: 0;
  }
  .post_list_section .post_item {
    margin-top: 84px;
  }
  .post_content .post_title .social_block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .post_content .post_title h4 {
    line-height: 1;
    margin-right: 20px;
    margin-bottom: 0!important;
  }
  .post_content .post_text p {
    padding-right: 0;
  }
  .post_content .post_title p {
    padding-left: 0;
    font-size: 18px;
    margin-top: 16px;
    margin-bottom: 16px;
    font-family: Din_medium;
  }
  .post_title {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
  }
  .post_text {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
  }
  .post_content .post_text {
    border-right: 0;
  }
  .info_section .paragraph_block p {
    width: 50%;
  }
  .menu_block {
    display: none!important;
  }
  .menu_icon_block {
    display: -webkit-box!important;
    display: -webkit-flex!important;
    display: -ms-flexbox!important;
    display: flex!important;
  }
  footer {
    -webkit-background-size: cover;
            background-size: cover;
  }
  .auto_page_section .auto_page_img_block img {
    width: 60%;
    display: block;
    margin: 0 auto;
  }
  .page_description_title h3 {
    text-align: center;
  }
}
@media (max-width: 767px) {
  header .first_header .live_chat_block {
    width: 100%!important;
    padding-left: 12px!important;
  }
  .post_banner .post_banner_content h3 {
    width: 70%;
  }
  .post_banner,
  .section_bg_white,
  .download_links_section {
    margin-top: 152px;
  }
  header .first_header .address,
  header .first_header .live_chat_block,
  header .first_header .special_abilities,
  header .first_header .menu_icon_block,
  header .first_header .lang_block {
    height: 40px;
  }
  header .second_header {
    height: 70px;
  }
  header .first_header .menu_icon_block {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
  }
  header .first_header .live_chat_block {
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
        -ms-flex-order: 3;
            order: 3;
  }
  .download_file_item {
    margin-bottom: 40px;
  }
  .download_file_item a {
    font-size: 16px!important;
  }
  header .first_header .address {
    border-right: none;
  }
  #types .types_content_item {
    border-left: 1px solid #f5f6f7;
    border-top: 1px solid #f5f6f7;
  }
  .types_content .filter_block {
    border-right: 0;
    margin-top: 32px;
  }
  .types_content .popular_auto .flickity-prev-next-button {
    width: 48px;
    height: 48px;
    top: 20px!important;
  }
  .types_content .popular_auto .flickity-button-icon {
    height: 24px;
    width: 24px;
  }
  .types_content .popular_auto .flickity-prev-next-button.previous {
    right: -webkit-calc(50% - 12px);
    right: calc(50% - 12px);
    -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
  .types_content .popular_auto .flickity-prev-next-button {
    right: -webkit-calc(50% - 84px);
    right: calc(50% - 84px);
    -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
  .types_content .types_content_item a {
    padding-top: 96px;
  }
  .post_content {
    margin-top: 0;
  }
  .types_content .filter_block {
    padding-right: 0;
    padding-left: 0;
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
  }
  .types_content .filter_block .filter_list .filter_list_block .filter_list_block_item {
    padding: 16px;
  }
  .types_content .reset {
    margin-right: 0;
    margin-left: 0;
  }
  .types_content .filter_block .filter_list h5 {
    padding-left: 16px;
    font-size: 16px;
  }
  header .first_header .container {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  header .first_header {
    height: auto;
  }
  header .first_header .live_chat_block {
    border-right: 1px solid rgba(255, 255, 255, 0.05);
  }
  header .first_header .special_abilities {
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  }
  header.white_bg .first_header .special_abilities {
    border-color: #f2f2f2;
  }
  .address,
  .live_chat_block,
  .special_abilities {
    width: 50%!important;
  }
  .lang_block,
  .menu_icon_block {
    width: 25%!important;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  }
  .special_abilities,
  .menu_icon_block,
  .lang_block,
  .address,
  .live_chat_block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: auto;
  }
  .small_section_title {
    text-align: center;
  }
  .footer_menu {
    margin-bottom: 30px;
  }
  footer .row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer_menu {
    text-align: center;
  }
  .second_footer .row {
    margin-right: 0;
    margin-left: 0;
  }
  footer .footer_menu .red_blockquote {
    border-left: none;
    padding-left: 0;
  }
  footer .footer_menu .reach_point {
    margin: 0 auto;
  }
  footer .second_footer .social_block i {
    font-size: 20px;
  }
  header .second_header .phone_block .phone_number {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 621px) {
  .post_banner .post_banner_content h3 {
    width: 70%;
  }
  header .second_header .logo_block {
    padding-right: 32px;
  }
  header .second_header .button_block .offer_btn {
    font-size: 12px;
  }
  .main_slider .slider_item .slider_content {
    padding-left: 80px;
    padding-right: 80px;
  }
  .main_slider .slider_item .slider_content h3 {
    font-size: 20px;
  }
  .first_header .container {
    padding-left: 0;
    padding-right: 0;
  }
  header .first_header .address,
  header .first_header .live_chat_block,
  header .first_header .special_abilities,
  header .first_header .menu_icon_block,
  header .first_header .lang_block {
    padding: 0 8px;
  }
}
@media (max-width: 575px) {
  .post_list_section .post_item {
    margin-top: 64px;
  }
  .post_content .post_text p {
    font-size: 14px;
  }
  .types_content .popular_auto .flickity-prev-next-button {
    top: 50%!important;
    -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
            transform: translate(0, -50%);
  }
  .types_content .popular_auto .flickity-prev-next-button.next {
    right: 10px!important;
  }
  .types_content .popular_auto .flickity-prev-next-button.previous {
    left: 10px!important;
    top: 50%!important;
    -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
            transform: translate(0, -50%);
  }
  .post_list_section .post_item {
    padding-left: 64px;
    padding-right: 64px;
  }
  .types_content .types_content_item a {
    text-align: center;
  }
  .types_content .types_content_item {
    padding-bottom: 40px!important;
    padding-left: 64px;
    padding-right: 64px;
  }
  .types_content .popular_auto {
    height: 275px;
  }
  .types_content .popular_posts {
    height: 400px;
  }
  .types_content .types_content_item img {
    max-width: unset;
    width: 40%;
    height: auto;
    margin-bottom: 32px;
  }
  .types_content .types_content_item a {
    padding-top: 32px!important;
  }
}
@media (max-width: 500px) {
  .auto_page_section .auto_page_img_block img {
    width: 70%;
    display: block;
    margin: 0 auto;
  }
  .auto_page_section .auto_page_description .page_description_price {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .auto_page_section .auto_page_description .page_description_price .offer_btn_block {
    margin-right: auto;
    margin-top: 20px;
  }
  .post_banner .post_banner_content h3 {
    width: 100%;
  }
  .post_banner .overlay {
    height: 250px;
  }
  .show_xs {
    display: block;
  }
  .second_header .button_block {
    display: none;
  }
  header .second_header .logo_block {
    width: 50%;
    padding-right: 0;
  }
  .main_slider .slider_item .slider_content h3 {
    font-size: 16px;
  }
  .info_section .paragraph_block p {
    width: 70%;
  }
  header .second_header .phone_block {
    width: 50%;
    margin-right: 0;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  header .second_header {
    height: auto;
    padding: 16px 0;
  }
  .button_block {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
  }
  header .second_header .container {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
}
@media (max-width: 407px) {
  .post_list_section .post_item p {
    font-size: 14px;
  }
  .types_content .types_content_item img {
    width: 50%;
  }
  .post_content .post_title .social_block .social_icons i {
    font-size: 18px;
  }
  .types_content .types_content_item img {
    max-width: 100%;
  }
  footer .second_footer p {
    width: 100%;
    text-align: center;
  }
  header .first_header .responsive_menu_block a {
    font-size: 20px;
  }
  footer .second_footer .social_block {
    margin-top: 16px;
    margin-right: auto;
    margin-left: auto;
  }
}
@media (max-width: 402px) {
  .types_content .types_content_item h5 {
    font-size: 14px;
  }
  .types_content .types_content_item h6 {
    font-size: 12px;
  }
  .flickity-prev-next-button {
    height: 32px;
    width: 32px;
  }
  .flickity-prev-next-button.previous {
    left: 10px;
  }
  .flickity-prev-next-button.next {
    right: 10px;
  }
  .main_slider .slider_item .slider_content {
    padding-left: 60px;
    padding-right: 60px;
  }
}
